@charset "utf-8";

/* reset */
html{overflow-y:scroll}
html,body{width:100%;height:100%}
html,body,div,p,img,span,a,em,strong,pre,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,tbody,thead,tfoot,tr,th,td,form,fieldset,legend,caption,input,textarea,button,select,object,video,iframe{margin:0;padding:0}
body{position:relative;line-height:1;background:#292D38}
body,h1,h2,h3,h4,h5,h6,input,textarea,button,select{font-family:tahoma,sans-serif;font-size:16px;color:#fff;-webkit-text-size-adjust:none}
table{border-collapse:collapse;border-spacing:0}
ul,ol{list-style:none}
img,fieldset,iframe,button{border:0}
a,img{vertical-align:top}
textarea{overflow:auto}
textarea:focus,input:active,input:hover{outline:0}
a{text-decoration:none;color:#fff}
a:hover{text-decoration:underline}
:root a:hover{background-color:transparent}
em,address{font-style:normal}
label,button{cursor:pointer}
input::-ms-clear, hr{display:none}
caption,legend{display:none;font-size:0;line-height:0;width:0;height:0}
.blind{overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;font-size:1px}

/* Skip */
.skip{position:absolute;display:block;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;overflow:hidden;font-size:0;line-height:0}
*:first-child+html .skip{margin:-1px}
.skip:active, .skip:focus{position:absolute;top:0;left:0;width:100%; height:auto;margin:0;padding:7px 0;text-indent:10px;font-weight:bold;font-size:12px;color:#fff;background:#000;line-height:1;text-align:center;z-index:1100}

/* Layout */
.wrap{position:relative;width:100%;min-height:100%;min-width:1200px}
.section{position:relative}
.section .container{max-width:1200px;min-width:930px;margin:0 auto}
.content{width:100%;text-align:center}
.content .container{position:relative;display:inline-block;vertical-align:top}
.content .container .content_wrap{width:100%}

/* Select */
.select{position:relative;text-align:left}
.select a{display:block}
.select a:hover{text-decoration:none}
.select .default span{display:block;background:url("../images/spr_select.png") no-repeat}
.select .option{position:absolute;display:none;z-index:1;left:0;right:0;overflow:hidden}
.select.show .option{display:block}
.select.swhite.show .default, .select.swhite.show ul{background:#292D38}
.select .option li a{word-break:break-all}
.select.swhite .default{border:2px solid #fff}
.select.swhite .default span{padding-right:18px}
.select.swhite.show .default{border-bottom:0 none}
.select.swhite .option{border:2px solid #fff;border-top:0 none}
.select.swhite .option li a:hover{background:#393E4A}
.select.swhite .default span, .select.sgray .default span{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:break-all}

/*table*/
.table_pager{font-size:0;margin-top:14px}
.table_pager a, .table_pager .num{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.table_pager .num{margin:0 10px}
.table_pager .num a{font-size:17px;color:#82899c;margin:0 7px}
.table_pager .num .on{color:#2676b1}
.table_pager .move{height:17px;width:17px;background:url("../images/spr_btn_pager.png") no-repeat;margin:0}
.table_pager .first{background-position:3px 50%;margin-right:2px}
.table_pager .prev{background-position:-20px 50%}
.table_pager .next{background-position:-52px 50%}
.table_pager .last{background-position:-75px 50%;margin-left:2px}

.table_wrap{position:relative}
.table_wrap table{position:relative;width:100%;*width:auto}
table th{word-break:break-all}
table td .elps{display:block;width:100%;line-height:1.25;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.table_wrap tbody td{padding:0 5px}
table td .vary, table td .icon{background:url("../images/spr_table_icon.png") no-repeat}
.table_wrap td.tb_last{border-right:0 none !important}
table td .vary, table td .icon{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
table td .icon{width:25px;height:25px;background-position:-240px -78px}
.tb_class .icon.fblader{background-position:0 -78px}
.tb_class .icon.warrior{background-position:-30px -78px}
.tb_class .icon.blader{background-position:-60px -78px}
.tb_class .icon.wizard{background-position:-90px -78px}
.tb_class .icon.farcher{background-position:-120px -78px}
.tb_class .icon.fshielder{background-position:-150px -78px}
.tb_class .icon.gladiator{background-position:-180px -78px}
.tb_class .icon.fgunner{background-position:-210px -78px}
.tb_nation .icon.capella{background-position:0 -114px}
.tb_nation .icon.procyon{background-position:-30px -114px}
.tb_nation .icon.neutrality{width:auto;height:auto;background:none}
.table_bottom{position:relative;overflow:hidden;margin-top:6px}
.table_bottom .updated{float:right;overflow:hidden}
.table_bottom .updated dt, .table_bottom .updated dd{float:left;font-size:12px;line-height:19px}
.table_bottom .updated dt{color:#5d6475}
.table_bottom .updated dd{font-family:'verdana';color:#747c91;padding-left:5px}

.table2 table{background:#696d7b;border-radius:24px}
.table2 table thead th{position:relative;height:65px;color:#fff;font-size:18px;line-height:21px;font-weight:normal;padding:3px 5px 0}
.table2 table tbody tr:last-child td:first-child{border-bottom-left-radius:24px}
.table2 table tbody tr:last-child td:last-child{border-bottom-right-radius:24px}
.table2 thead{z-index:1}
.table2 tbody{background:rgba(31,32,38,0.5)}
.table2 tbody td{height:37px;color:#82899c;background:#3c414d;border-right:1px solid #444954}
.table2 tr:last-child td, .table2 .tr_20 td{padding-bottom:13px}
.table2 tbody .even td{background:#3a3f4b}
.table2 tbody .tr_top3 td{background:#464b57;color:#fff;border-right-color:#4f5460}
.table2 .tb_rank .ranking{margin-right:6px}
.table2 .medal1 td{padding-top:7px}
.table2 .medal3 td{padding-bottom:4px}
table td .ranking{vertical-align:middle}
table td .vary{font-size:14px;line-height:1.1;min-width:24px;text-align:left;padding-left:9px}
table td .vary.increase{background-position:0 6px;color:#ff0000}
table td .vary.decrease{background-position:0 -24px;color:#2399dc}
table td .vary.nochange{background-position:0 -52px;color:#7a6d83}
table td .vary.new{background:0 none;color:#ff0000;padding-left:0}
.table2 .tb_rank{padding-right:0}
.table2 .tb_class{z-index:1}
.table2 .tb_char7 td.tb_rank{width:105px;max-width:105px;padding-left:34px}
.table2 .tb_char7 th.tb_rank{width:109px;padding-left:30px}
.table2 .tb_char7 .tb_name{min-width:156px;max-width:286px}
.table2 .tb_char7 .tb_point, .table2 .tb_char7 .tb_level{width:109px;max-width:109px}
.table2 .tb_char7 .tb_guild{min-width:165px;max-width:306px}
.table2 .tb_char7 .tb_class{width:76px;max-width:76px}
.table2 .tb_char7 .tb_nation{width:81px;max-width:81px;padding-right:34px}
.character .table2 .tb_char8 .tb_time{width:122px;max-width:122px;padding-left:24px}
.character .table2 .tb_char8 .tb_col2{width:167px;max-width:167px}
.character .table2 .tb_char8 .tb_col3{width:219px;max-width:219px}
.character .table2 .tb_char8 .tb_name{width:153px;max-width:153px}
.character .table2 .tb_char8 .tb_level{width:103px;max-width:103px}
.character .table2 .tb_char8 .tb_guild{width:165px;max-width:165px}
.character .table2 .tb_char8 .tb_class{width:76px;max-width:76px}
.table2 .tb_char8 .tb_nation{width:70px;max-width:70px;padding-right:24px}
.guild .table2 .tb_guild7 td.tb_rank{width:105px;max-width:105px;padding-left:24px}
.guild .table2 .tb_guild7 th.tb_rank{width:109px;padding-left:20px}
.guild .table2 .tb_guild7 .tb_point{width:109px;max-width:109px}
.guild .table2 .tb_guild7 .tb_server{width:115px;max-width:115px}
.guild .table2 .tb_guild7 .tb_gname{min-width:154px;max-width:313px}
.guild .table2 .tb_guild7 .tb_glevel{width:87px;max-width:87px}
.guild .table2 .tb_guild7 .tb_master{min-width:154px;max-width:265px}
.guild .table2 .tb_guild7 .tb_member{width:97px;max-width:97px;padding-right:24px}

.table2 th .select{position:static;display:inline-block;*display:inline;*zoom:1;vertical-align:top}
.table2 th .select .default span{background:url("../images/blt_select_class-on.png") 100% 50% no-repeat;text-align:center;padding-right:13px}
.table2 th .select.show .default span{background:url("../images/blt_select_class-off.png") 100% 50% no-repeat}
.table2 th .select .option{top:58px;right:auto;background:#505664;*overflow:visible}
.table2 th .select .option ul{padding:8px 0}
.table2 th .select .option li a{height:22px;font-size:13px;line-height:20px;color:#8e97a5;white-space:nowrap;padding:0 15px}
.table2 th .select .option li a:hover{background:#5a606d;color:#fff}

/* Common */
.content_header{position:relative;text-align:left;min-height:40px;z-index:2;margin-bottom:36px}
.content_header h2{font-size:28px;font-weight:normal;line-height:1.2}
.content_header .header_left{overflow:hidden;text-align:left;margin-right:320px}
.content_header h2, .character .content_header h3{word-break:break-all}
.content_header h3{color:#565a67;font-size:20px;line-height:1.2;font-weight:normal;margin-top:3px}
.content_header .header_right{position:absolute;top:6px;right:0;*zoom:1}
.content_header .header_right:after{content:"";display:block;clear:both}
.content_header .select{float:left;width:152px}
.content_header .select a{padding:0 18px}
.content_header .select .default{height:36px;line-height:34px;border-radius:40px}
.content_header .select .default span{background-position:100% 14px}
.content_header .select.show .default span{background-position:100% -30px}
.content_header .select.show .default{border-radius:20px 20px 0 0;padding-bottom:2px}
.content_header .select .option{border-radius:0 0 20px 20px;max-height:270px}
.content_header .select ul{padding-bottom:10px}
.content_header .select .option li a{padding-top:5px;padding-bottom:5px}
.content_header .select.server{margin-right:7px}
.content_header .select.server .default span{white-space:nowrap;word-break:break-all;overflow:hidden;text-overflow:ellipsis}
.content_title .sbasic.terms{width:124px}

.slide_list{visibility:hidden;position:relative;overflow:hidden}
.slide_list.visible{visibility:visible}
.slide_list .sbox, .slide_list .move{display:block}
.slide_list .gradi{position:absolute;top:50%;height:32px;margin-top:-16px}
.slide_list .gradi.gleft{left:0}
.slide_list .gradi.gright{right:0}
.slide_list .list_wrap{white-space:nowrap;text-align:left}
.slide_list ul, .slide_list li{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;text-align:center}
.slide_list ul{position:relative}
.slide_list li a{display:block}
.slide_list li a:hover span{text-decoration:none}
.slide_list li a span{display:inline-block;*display:inline;vertical-align:middle;word-break:keep-all;cursor:pointer}
.slide_list li a .align{height:100%;*zoom:1}
.slide_list li.on a:hover span{text-decoration:none}

.slide2 li{margin:0 16px}
.slide2 li a{word-break:break-all;white-space:normal}
.slide2 li a span{color:#5c616e}
.slide2 li a:hover span{color:#fff}
.slide2 li a .align{height:32px}
.slide2 li.on{width:239px;padding:0}
.slide2 li.on a{margin:0 10px}
.slide2 li.on a .text{color:#fff;font-size:27px;padding-bottom:1px}
.slide2 .sbox span{display:block;height:70px;border:2px solid #fff;border-radius:70px;margin:0 auto}
.slide2 .move a{position:absolute;top:50%;margin-top:-15px}
.slide2 .move a .icon{display:block;width:30px;height:30px;background:url("../images/spr_btn_slide2.png") 0 0 no-repeat;cursor:pointer}
.slide2 .move .prev{left:463px}
.slide2 .move .next{right:463px}
.slide2 .move .next .icon{background-position:0 -32px}
.slide2 .move .prev:hover .icon{background-position:0 -60px}
.slide2 .move .next:hover .icon{background-position:0 -90px}
.slide2 .gright{background-position:0 -32px !important}

/* Scroll Plugin */
.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; /* MSPointer events - direct all pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{ -ms-touch-action: auto; touch-action: auto; }
.mCustomScrollBox{position: relative;overflow:hidden;height:100%;max-width:100%;outline:none;direction:ltr}
.mCSB_container{overflow:hidden;width: auto;height:auto}
.mCSB_scrollTools{position:absolute;width:21px}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;bottom:0;left:0;right:0;height:auto}
.mCSB_scrollTools .mCSB_dragger{height:30px;z-index:1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position:relative;height:100%;margin:0 auto;text-align:center}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{display: block;position:absolute;width:100%;left:0;overflow:hidden;margin:0 auto;cursor:pointer}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{border-radius:8px}
.mCSB_container.mCS_y_hidden.mCS_no_scrollbar_y{margin-right:0}
.mCSB_scrollTools .mCSB_dragger{width:11px;left:5px}

.select.sgray .tscroll .mCSB_draggerContainer{margin:32px 0}
.select.sgray .tscroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#777a86;border-left:1px solid #8e909a}
.select.sgray .tscroll .mCSB_scrollTools .mCSB_buttonUp, .select.sgray .tscroll .mCSB_scrollTools .mCSB_buttonDown{height:14px;background:url("../images/spr_btn_search_scroll.png") 50% 0 no-repeat}
.select.sgray .tscroll .mCSB_scrollTools .mCSB_buttonUp{top:7px}
.select.sgray .tscroll .mCSB_scrollTools .mCSB_buttonDown{bottom:7px;background-position:50% -14px}
.select.sgray .tscroll .mCSB_scrollTools{top:2px;bottom:2px;right:2px;background:#555964}
.select.sgray .mCSB_inside .mCSB_container{margin-right:25px}
.select.sgray .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{border-top:1px solid #a5a7af;border-radius:8px}

.select.swhite .tscroll .mCSB_scrollTools{top:0;bottom:0;right:0}
.select.swhite .tscroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#393E4A}
.select.swhite .tscroll .mCSB_scrollTools .mCSB_buttonUp, .select.swhite .tscroll .mCSB_scrollTools .mCSB_buttonDown{display:none !important}
.select.swhite .mCSB_inside .mCSB_container{margin-right:21px}

/* Header */
.header{z-index:10}
.header .header_content{position:relative;padding:37px 0 114px}
.header .header_content .container, .header .menu_wrap ul{*zoom:1}
.header .header_content .container:after, .header .menu_wrap ul:after{content:"";display:block;clear:both}
.header .header_content a{display:block}
.header .header_content a:hover{text-decoration:none}
.header h1{float:left;padding-top:20px}
.header h1 a{width:208px;height:32px;background:url("../images/h1_header.png") no-repeat}
.header .menu_wrap{float:right}
.header .gnb, .header .lang{float:left}
.header .gnb{display:table;max-width:800px;margin-right:34px}
.header .menu_wrap .depth1{font-size:20px;line-height:1.2;color:#505564;text-align:center;padding:0 34px}
.header .menu_wrap .hover .depth1{border-radius:48px;color:#fff}
.header .gnb li{display:table-cell;height:73px;*display:inline;*zoom:1;vertical-align:middle;word-break:keep-all;padding-bottom:16px}
.header .gnb li .depth1{*margin-top:25px}
.header .gnb li .depth2{display:none;position:absolute;top:126px;left:0;width:100%;height:114px;background:#404450;text-align:center}
.header .gnb li .depth2.on{display:block}
.header .gnb .link .depth2 ul{display:table;max-width:1200px;height:114px;margin:0 auto}
.header .gnb .link .depth2 li{height:auto;vertical-align:middle;float:none;padding:0 30px;*margin:24px 0}
.header .gnb .link .depth2 li a{display:block;line-height:1.2;color:#fff;filter:alpha(opacity=40);opacity:0.4;text-align:center;*zoom:1}
.header .gnb .link .depth2 li a:hover{text-decoration:none}
.header .gnb .link .depth2 li.on a, .header .gnb li .depth2 li a:hover, .header .gnb li .depth2 li a:focus{filter:alpha(opacity=100);opacity:1}
.header .gnb .link .depth2 li a span{display:block;word-break:keep-all;cursor:pointer}
.header .gnb .link .depth2 li .mcon{height:41px;background:url("../images/spr_gnb-depth2.png") 50% 0 no-repeat}
.header .gnb .link .depth2 .d2_dc .mcon{min-width:42px;background-position:50% 4px}
.header .gnb .link .depth2 .d2_ach .mcon{min-width:38px;background-position:50% -536px}
.header .gnb .link .depth2 .d2_hp .mcon{min-width:41px;background-position:50% -132px}
.header .gnb .link .depth2 .d2_ad .mcon{min-width:57px;background-position:50% -201px}
.header .gnb .link .depth2 .d2_mw .mcon{min-width:39px;background-position:50% -268px}
.header .gnb .link .depth2 .d2_wex .mcon{min-width:64px;background-position:50% -65px}
.header .gnb .link .depth2 .d2_il .mcon{min-width:53px;background-position:50% -333px}
.header .gnb .link .depth2 .d2_mbl .mcon{min-width:35px;background-position:50% -404px}
.header .gnb .link .depth2 .d2_gsc .mcon{min-width:77px;background-position:50% -469px}
.header .gnb .link .depth2 .d2_uh .mcon{min-width:51px;background-position:50% -601px}
.header .gnb .link .depth2 .d2_top100 .mcon{min-width:72px;background-position:50% -743px}
.header .gnb .link .depth2 .d2_top3 .mcon{min-width:63px;background-position:50% -673px}
.header .lang{position:relative;z-index:1;padding-top:11px}
.header .lang .select .default{border:0 none;padding:14px 0 0 0}
.header .lang .default span{background:none;min-width:0;transition-property:min-width, padding;transition-duration:280ms}
.header .lang .hover .default{border:2px solid #fff}
.header .lang .hover .default{padding:12px 20px 14px}
.header .lang .hover .default span{min-width:90px;text-align:left;background:url("../images/spr_select.png") 100% 9px no-repeat;padding-right:40px}
.header .lang .hover.show .default{border-bottom:0 none;border-radius:26px 26px 0 0}
.header .lang .hover.show .default span{background-position:100% -35px}
.header .lang .option{border-radius:0 0 26px 26px}
.header .lang .option ul{padding-bottom:10px}
.header .lang .option li a, .header .lang .option li span{line-height:1.2;padding:4px 0 4px 20px}
.header .lang .option li span{display:block}
.header .lang .option li ul{padding:3px 0}
.header .lang .option li li a{font-size:14px;padding-left:32px}
.header .sch .depth2 .search_con{display:inline-block;*display:inline;*zoom:1;overflow:hidden;margin:0 auto}
.header .search_input{float:left;padding:27px 0}
.header .search_input.sch_char{border-right:1px solid #333640;padding-right:16px}
.header .search_input.sch_guild{border-left:1px solid #4a4e59;padding-left:16px}
.header .search_input label{position:absolute;top:2px;line-height:56px;left:33px;font-size:19px;font-weight:normal;cursor:text}
.header .search_input .input_search{position:relative;height:60px}
.header .search_input .input_search input{display:block}
.header .search_input .input_search .search_text{position:relative;width:225px;border-radius:56px;border:2px solid #e3e3e3;height:56px;line-height:56px;background:none;font-size:19px;color:#fff;transition: width 400ms ease;padding:0 70px 0 30px}
.header .search_input.focus .input_search .search_text{width:380px}
.header .search_input .input_search .search_text:focus{outline:0}
.header .search_input.focus input.search_text{color:#fff}
.header .search_input.blur .input_search{filter:alpha(opacity=45);opacity:0.45}
.header .search_input .input_search .search_btn{position:absolute;top:15px;right:32px;width:32px;height:30px;cursor:pointer;background:url("../images/btn_search.png") no-repeat;font-size:0;border:0 none;text-indent:-9999px}

/* Footer */
.footer{padding:66px 0 50px}
.footer address{position:relative;display:block;width:100%;height:33px;text-align:center;line-height:33px;font-size:12px;color:#535968}
.footer address a{color:#fff}
.main .footer{padding:0}
.main.choose .footer{position:absolute;left:0;bottom:52px;width:100%}
.main .mapfoot.footer{opacity:0}

/* Main */
.main{height:100%;min-height:700px;background:url("../images/bg_main.jpg") 50% 0 no-repeat}
.main .content{height:100%;*z-index:1}
.main .main_content{position:absolute;left:50%;top:50%;width:705px;margin:-175px 0 0 -353px}
.main h1{width:705px;height:117px;background:url("../images/h1_main.png") no-repeat;margin-bottom:40px}
.main .main_country p{color:#5b606b;font-size:32px;line-height:1.3;margin-bottom:35px}
.main .main_country .select{width:492px;margin:0 auto}
.main .main_country .select .default, .main .main_country .select li a{padding:0 52px}
.main .main_country .select .default{border-width:3px;border-radius:82px;height:82px;font-size:30px;line-height:80px}
.main .main_country .select .default span{background-position:100% -325px;padding-right:27px}
.main .main_country .select.show .default, .main .main_country .select.show .option{background:#292D38}
.main .main_country .select.show .default{border-bottom:0 none;border-radius:44px 44px 0 0}
.main .main_country .select.show .default span{background-position:100% -411px}
.main .main_country .select .option{border-width:3px;max-height:238px;border-radius:0 0 44px 44px}
.main .main_country .select ul li a{font-size:26px;line-height:39px}
.main .main_country .select .tscroll .mCSB_scrollTools{bottom:44px}
.main .footer{position:absolute;bottom:80px;width:100%}

/* Sub */
.wrap.sub{background:url("../images/bg_sub.jpg") 50% 0 no-repeat}

/* Leader Board */
.leaderboard .content_wrap{padding-top:60px}
.leaderboard .content_title{margin-bottom:32px}
.leaderboard .content_title h3{font-size:35px;line-height:1.2;font-weight:normal;word-break:break-all}
.leaderboard .leader_table .table_wrap, .leaderboard .leader_table .table_bottom{width:780px}
.leaderboard .leader_table .table_wrap{margin:0 auto}
.leaderboard .leader_table .table_bottom{margin-left:auto;margin-right:auto}
.leaderboard .leader_table .tb_name{width:156px;max-width:156px}
.leaderboard .leader_table td.tb_rank{width:115px;max-width:115px;padding-left:46px}
.leaderboard .leader_table th.tb_rank{width:119px;padding-left:42px}
.leaderboard .leader_table .tb_point, .leaderboard .leader_table .tb_level{width:109px;max-width:109px}
.leaderboard .leader_table .tb_guild{width:160px;max-width:160px;padding-right:46px}

/* Character Ranking */
.character .content, .guild .content{padding-top:39px}

/* TOP 100 */
.top100 .table_glb3{overflow:hidden;margin-bottom:9px}
.top100 .table_glb3 table{width:100%;*width:auto;*table-layout:fixed}
.top100 table{margin:0 auto}
.top100 .table_glb3 td{height:99px;text-align:left;vertical-align:top}
.top100 .table_glb3 td div{border-top:1px solid #309ad6;border-bottom:1px solid #309ad6;height:87px;overflow:hidden;text-overflow:ellipsis;word-break:break-all;white-space:nowrap;line-height:84px}
.table_glb3 .tb_name div, .table_glb3 .tb_point div, .table_glb3 .tb_level div, .table_glb3 .tb_gname div{padding-right:10px}
.table_glb3 .tb_rank{width:130px;max-width:130px}
.table_glb3 .tb_rank div{border-left:1px solid #309ad6;border-radius:87px 0 0 87px;padding-left:50px}
.table_glb3 .tb_rank .ranking{font-size:40px}
.table_glb3 .tb_name{min-width:252px;max-width:348px;font-size:26px}
.table_glb3 .tb_point{min-width:127px;max-width:175px}
.table_glb3 .tb_level{min-width:85px;max-width:151px}
.table_glb3 .tb_gname{min-width:214px;max-width:274px}
.table_glb3 .tb_class{width:35px;max-width:35px}
.table_glb3 .tb_nation{width:87px;max-width:87px}
.table_glb3 .tb_nation div{border-right:1px solid #309ad6;text-align:center;border-radius:0 87px 87px 0;padding-right:30px}
.table_glb3 .tb_name .elps{display:inline-block;*display:inline;*zoom:1;line-height:84px;max-width:100%}
.table_glb3 td .cate{color:#a6a6a6;font-size:17px;padding-right:8px}
.table_glb3 td .c_info{font-size:19px}
.table_glb3 td .icon{width:35px;height:35px;margin:26px 0;background-position:-347px -160px}
.table_glb3 td .icon.fblader, .search .search_top h2 .icon.fblader{background-position:0 -160px}
.table_glb3 td .icon.warrior, .search .search_top h2 .icon.warrior{background-position:-43px -160px}
.table_glb3 td .icon.blader,.search .search_top h2 .icon.blader{background-position:-86px -160px}
.table_glb3 td .icon.wizard,.search .search_top h2 .icon.wizard{background-position:-130px -160px}
.table_glb3 td .icon.farcher,.search .search_top h2 .icon.farcher{background-position:-173px -160px}
.table_glb3 td .icon.fshielder,.search .search_top h2 .icon.fshielder{background-position:-216px -160px}
.table_glb3 td .icon.gladiator,.search .search_top h2 .icon.gladiator{background-position:-259px -160px}
.table_glb3 td .icon.fgunner,.search .search_top h2 .icon.fgunner{background-position:-302px -160px}
.table_glb3 td .icon.capella,.search .search_top h2 .icon.capella{background-position:0 -205px}
.table_glb3 td .icon.procyon,.search .search_top h2 .icon.procyon{background-position:-43px -205px}
.table_glb3 .global1 td div{background:#309ad6}
.table_glb3 .global1 td div .cate{color:#dadada}
.table_glb3 .global1 td .vary.nochange{background-position:-293px -52px;color:#fff}
.table_glb3 .global1 .tb_rank div{border-right:1px solid #309ad6}
.table_glb3 .global1 .tb_nation div{border-left:1px solid #309ad6}
.top100 .table2 table{background:#4f5360}
.top100 .table2 table th{height:38px;padding-top:5px;padding-bottom:5px}
.top100 .table2 table th .select .option{top:38px}
.top100 .table2 table td{background:#2e323e}
.top100 .table2 table .even td{background:#323642}
/* TOP3 */
.top3 .footer{padding-top:60px}
.top3 .table1{border-radius:272px;background:#3a3e49;overflow:hidden;padding:40px 103px 40px 80px;margin-bottom:6px}
.table1 .t1_title{width:203px;height:190px;background:url("../images/bg_top3.png") no-repeat;margin-right:45px}
.table1 .t1_title h4, .table1 .t1_title .align{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.table1 .t1_title h4{font-size:29px;line-height:31px;font-weight:normal;margin:0 5px 5px}
.table1 .t1_title h4 span{font-size:26px}
.table1 .t1_title .align{height:100%}
.table1 .t1_title, .table1 table{float:left}
.table1 table{width:766px;table-layout:fixed}
.table1 thead th, .table1 thead td{height:42px}
.table1 thead th{font-weight:normal;font-size:18px;line-height:1.2;font-family:calibri,sans-serif;padding:8px 5px 0}
.table1 td{height:42px;color:#b0b2b6;border-top:1px solid #31343d}
.table1 td.tb_rank{width:80px}
.table1 th.tb_rank{width:76px;padding-right:9px}
.table1 .tb_point{width:90px}
.table1 .tb_name{width:150px}
.table1 .tb_level{width:76px}
.table1 .tb_guild{width:160px}
.table1 .tb_class, .table1 .tb_nation{width:70px}
.table1 td.tb_rank{color:#039df4}

/* Dungeon Clear */
.dungeon_title{position:relative;height:57px;z-index:1;margin-bottom:42px}
.dungeon_title .select{width:396px;font-size:17px;margin:0 auto}
.dungeon_title .select .default{height:57px;line-height:55px;background:#5f626b;padding:0 23px}
.dungeon_title .select .default span{background-position:100% 24px;padding-right:18px}
.dungeon_title .select .option{top:57px;max-height:294px;background:#5f626b}
.dungeon_title .select .option li a{line-height:1.2;color:#94969d;padding:10px 23px 12px}
.dungeon_title .select .option li a:hover{background:#686b74;color:#fff}
.dungeon_title .select.show .default span{background-position:100% -20px}

/* Mission War */
.mission_war .table2 .tb_char7 .tb_level{z-index:1}
.mission_title{margin-bottom:33px}
.mission_title ul{overflow:hidden;width:190px;margin:0 auto}
.mission_title li{float:left}
.mission_title li a{display:block;width:90px;height:94px;background:url("../images/spr_icon_mission.png") no-repeat}
.mission_title .on .score, .mission_title li .score:hover{background-position:0 -116px}
.mission_title li .kill{background-position:-98px -116px;margin-left:10px}
.mission_title .on .kill,.mission_title li .kill:hover{background-position:-98px 0}

/* Search */
.wrap.search{background:url("../images/bg_search.jpg") 50% 0 no-repeat}
.search .content .container{width:1200px}
.search .search_info{word-break:break-all;line-height:1.1}
.search .info_details, .search .info_details div{overflow:hidden}
.search .info_details dl{float:left;font-size:0}
.search .info_details dt, .search .info_details dd{display:inline}
.search .search_result{display:inline-block;*display:inline;*zoom:1;vertical-align:top}
.search .search_result li .icon_img .icon,.search .search_result .info_details dt{background-image:url("../images/spr_search_result.png")}
.search .search_result ul{min-width:990px;*width:990px;margin:62px auto 0}
.search .search_result li{margin-top:7px}
.search .search_result li a{height:146px;background:#2f333e;border-radius:146px;cursor:pointer;text-align:left;padding:0 90px}
.search .search_result li a:hover{background:#414550}
.search .search_result li .icon_img, .search .search_result li .search_info{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.search .search_result li .icon_img{width:97px;height:100%;margin-right:10px}
.search .search_result li .icon_img .icon{display:block;width:97px;height:96px;margin-top:36px;background-position:-110px -210px}
.search .search_result li .icon_img .icon.warrior{background-position:0 -75px}
.search .search_result li .icon_img .icon.blader{background-position:-107px -75px}
.search .search_result li .icon_img .icon.farcher{background-position:-213px -75px}
.search .search_result li .icon_img .icon.fshielder{background-position:-319px -75px}
.search .search_result li .icon_img .icon.fblader{background-position:-426px -75px}
.search .search_result li .icon_img .icon.wizard{background-position:-530px -75px}
.search .search_result li .icon_img .icon.gladiator{background-position:-636px -75px}
.search .search_result li .icon_img .icon.guild{background-position:-747px -75px}
.search .search_result li .icon_img .icon.fgunner{background-position:0 -210px}
.search .search_result li a{display:block}
.search .search_result li a:hover{text-decoration:none}
.search .search_result li .search_info{max-width:908px;*width:698px}
.search .search_result li .search_info strong{display:block;color:#fff;font-size:30px;font-weight:normal;filter:alpha(opacity=40);opacity:0.4;*zoom:1;padding-bottom:8px}
.search .search_result li a:hover .search_info strong{filter:alpha(opacity=100);opacity:1}
.search .search_result .search_info div{margin-left:-5px}
.search .search_result .search_info dt{font-size:15px;color:#5499ff;background-position:0 5px;padding-left:12px}
.search .search_result .search_info dd{font-size:17px;color:#9d9d9d;margin:0 12px 0 4px}
.search .details{border-top:1px solid #33373A;padding-top:42px}
.search .details .search_top{position:relative;display:inline-block;vertical-align:top;*width:1129px;min-width:1129px;height:162px;overflow:hidden;background:#313540 url("../images/bg_search-top.png") 615px 113px no-repeat;border-radius:234px;text-align:left;padding:32px 0 39px;margin:0 auto 57px}
.search .search_top .info_smain, .search .search_top .visit_count{background:#525661;border-radius:162px;border-top:1px solid #747780;border-bottom:1px solid #4c505b}
.search .search_top .info_smain{position:relative;height:161px;min-width:445px;max-width:545px;font-size:0;padding:0 65px;margin:0 517px 0 37px}
.search .search_top .search_info, .search .search_top .align{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.search .search_top .search_info{position:relative;font-size:16px}
.search .search_top .search_info .info_details{min-height:20px}
.search .search_top .search_info dt{font-size:17px;color:#309ad6;padding-right:3px}
.search .search_top .search_info dd{font-size:19px;color:#91949b;padding-right:16px}
.search .search_top .align{height:100%}
.search .search_top h2{min-height:40px;font-size:37px;font-weight:normal;margin-bottom:12px}
.search .search_top h2 .text{vertical-align:top;padding-right:10px}
.search .search_top h2 .icon{display:inline-block;*display:linline;*zoom:1;vertical-align:top;width:35px;height:35px;background:url("../images/spr_table_icon.png") -347px -160px no-repeat;margin:5px 0 0 3px}
.search .search_top .visit_count{position:absolute;right:38px;top:52px;height:121px;min-width:163px;max-width:213px;text-align:right;overflow:hidden;font-size:0;padding:0 58px}
.search .search_top .visit_count dl{font-size:16px}
.search .search_top .visit_count dl,.search .search_top .visit_count dt span{display:inline-block;*display:inline;*zoom:1}
.search .search_top .visit_count dl{position:relative;vertical-align:middle;line-height:1.2;text-align:right}
.search .search_top .visit_count dt{margin-bottom:4px}
.search .search_top .visit_count dt span{vertical-align:top;font-size:15px;color:#90939a;word-break:break-all;background:url("../images/blt_search-top.gif") 0 8px no-repeat;padding-left:10px}
.search .search_top .visit_count dd{height:15px;font-size:13px;font-family:'verdana';color:#fff;margin-bottom:5px}
.search .search_content{width:1200px}
.search .search_content .slide2{margin-bottom:26px}
.search .search_box{border:1px solid #3f4146;padding:56px 79px 0}
.search .search_box h3{font-weight:normal;font-size:20px;text-align:left;line-height:1.2;margin-bottom:25px}
.search .search_box h3 .box{display:block;width:26px;height:2px;background:#2f99d4;margin-bottom:9px}
.search .search_box .sc_top{margin-bottom:70px}
.search .search_box .dbox{position:relative;width:100%}
.search .search_box table{table-layout:fixed}
.search .search_box .dbox th, .search .search_box .dbox td{font-size:15px;line-height:1.2;word-break:break-all}
.search .search_box .dbox th{font-weight:normal;background:#3f434e}
.search .search_box .dbox td{text-align:left;background:#363a45;color:#7c7f86}

.search .search_box td .graph{position:relative}
.search .search_box td .graph, .search .search_box td .graph strong{display:block}
.search .search_box td .graph span{position:absolute;top:0;left:0;width:100%;text-align:center}
.search .search_box td .graph strong{height:100%;background:#309ad6;font-weight:normal;color:#fff;text-align:left}

.search .search_box .stb47{width:1042px;margin:0 -2px -4px 0}
.search .search_box .stb47 th, .search .search_box .stb47 td{height:29px;border-bottom:4px solid #292D38}
.search .search_box .stb47 th{width:156px;text-align:left;padding:0 5px 0 26px;background:#626572}
.search .search_box .stb47 td{color:#fff;border-right:2px solid #292D38;text-align:center;background:#565967;padding:9px 15px}
.search .search_box .stb47 .td_graph{text-align:left}
.search .search_box .stb47 .graph{height:29px;line-height:29px;background:#383b45}

.search .search_box .stb54{width:1041px;margin:0 -1px -1px 0}
.search .search_box .stb54 th, .search .search_box .stb54 td{height:36px;border-bottom:1px solid #292D38;padding:9px 5px}
.search .search_box .stb54 td{border-right:1px solid #292D38}
.search .search_box .stb54 .tb_rowspan{background:#309ad6;border-right:7px solid #292D38}

.search .search_box .stb67 td{height:47px;padding:10px 15px}
.search .search_box .stb67 td .gpoint{position:relative}

.search .search_box .thw187{width:100%;margin:13px 0 -3px}
.search .search_box .thw187 th{width:177px;padding:0 5px}
.search .search_box .thw187 td{padding-left:15px}
.search .search_box .thw187 th, .search .search_box .thw187 td{border-bottom:3px solid #292D38}
.search .search_box .pet_tb td, .search .search_box .thw129 td{padding-left:20px;padding-right:20px}

.search .search_box .thw129 th{width:119px}
.search .search_box .tb_cen.tb_sp2 th, .search .search_box .tb_cen.tb_sp2 td{border-width:2px}
.search .search_box .tb_cen.tb_sp2{width:1042px;margin:0 -2px -2px 0}
.search .search_box .tb_cen.tb_sp2 th{border-bottom:14px solid #292D38;border-right:2px solid #292D38}
.search .search_box .stb54.tb_cen th{height:29px}
.search .search_box .tb_cen th{background:#565967}
.search .search_box .tb_cen .th_light{background:#626572}
.search .search_box .tb_cen td{text-align:center}

.search .search_box .pet_tb{padding-bottom:7px}
.search .search_box .pet_tb th{width:149px}
.search .search_box .pet_tb .tb_rowspan{width:178px;text-align:center;padding:0}

.search .search_box .table_pager{margin-top:23px}

.search .search_box .box_header{overflow:hidden}
.search .search_box .box_header h3, .search .search_box .box_header .box_tab{float:left}
.search .search_box .box_header{margin-bottom:25px}
.search .search_box .box_header h3{margin:0 29px 0 0}
.search .search_box .box_tab{overflow:hidden;margin-top:15px}
.search .search_box .box_tab ul{overflow:hidden;margin-left:-13px}
.search .search_box .box_tab li{float:left;line-height:1.2;background:url("../images/border_search-log.gif") 0 6px no-repeat;padding:0 12px}
.search .box_tab li a{color:#5a5e6d}
.search .box_tab li.on a, .search .box_tab li a:hover{color:#309ad6}
.search .box_tab li a:hover{text-decoration:none}

/* Character Equipment */
.search .char_eq{min-height:574px;padding-bottom:82px}
.search .char_eq .sc_wrap{display:none;position:relative;*zoom:1}
.search .char_eq .sc_wrap.on{display:block}
.search .char_eq .char_item{position:relative}
.search .char_eq .char_item .dbox{padding-bottom:7px}
.search .char_eq .char_item .stb54 .tb_rowspan{width:132px;text-align:left;vertical-align:top;font-size:17px;padding:18px 23px 0}
.search .char_eq .char_item .stb54 .divline{display:block;width:15px;height:1px;background:#98cdeb;margin:10px 0}
.search .char_eq .char_item .stb54 th{padding-top:0;padding-bottom:0}
.search .char_eq .char_item .stb54 td a{color:#7c7f86}
.search .char_eq .item_info .stb54.thw129 th img{width:35px;border-radius:4px;padding:1px}
.search .char_eq .item_info .item_detail{display:none;position:absolute;top:0;left:314px;width:300px;background:#575e71;font-size:14px;z-index:1;text-align:left}
.search .char_eq .item_info .item_detail.show{display:block}
.search .char_eq .item_detail .tit_item{position:relative;height:42px;background:#2399dc}
.search .char_eq .item_detail .tit_item .btn_close{position:absolute;top:10px;right:17px;width:20px;height:20px;background:url("../images/btn_close_item-detail.png") 50% 50% no-repeat}
.search .char_eq .item_detail h4{word-break:break-all;font-weight:normal;line-height:21px;padding:10px 54px 10px 20px}
.search .char_eq .item_detail .detail_list{min-height:418xpx;word-break:break-all;line-height:1.2;padding:23px 19px}
.search .char_eq .item_detail .detail_list h5{font-size:14px}
.search .char_eq .item_detail .detail_list li, .search .char_eq .item_detail .detail_list li img{margin-top:4px}
.search .char_eq .item_detail .detail_list li img{margin-right:4px}
.search .char_eq .item_detail .detail_list .detail{margin-top:15px}
.search .char_eq .pet_info td .graph{height:29px;background:#2e323b}
.search .char_eq .pet_info td .graph strong span{line-height:29px}

/* Character Info */
.search .char_info{padding-bottom:80px}

/* Merit Mastery */
.search .mastery{overflow:hidden;padding-bottom:80px}
.search .mastery .dbox{*z-index:1}
.search .mastery .stb47{position:relative;z-index:1;table-layout:auto}
.search .mastery .stb47 td{color:#fff;text-align:left}
.search .mastery .stb47 .td_select{background:#5b6672;width:364px;vertical-align:top;*z-index:1;padding:0}
.search .mastery .stb47 .td_select .select{height:100%;min-width:364px;padding:0}
.search .mastery .stb47 .td_select .select .default{height:47px;line-height:45px}
.search .mastery .stb47 .td_select .select .default span{width:324px;background-position:100% -198px;padding-right:15px}
.search .mastery .stb47 .td_select .select.show .default span{background-position:100% -259px}
.search .mastery .stb47 .td_select .select a{font-size:16px;line-height:19px;padding:0 20px}
.search .mastery .stb47 .td_select .select .option{width:379px;background:#5B6672}
.search .mastery .stb47 .td_select .select .option ul{padding:5px 0}
.search .mastery .stb47 .td_select .select .option li a{padding:4px 20px 5px}
.search .mastery .stb47 .td_select .select .option li a:hover{background:#67727D}
.search .mastery .mastery_map{position:relative;overflow:hidden;margin-top:54px}
.search .mastery .mastery_map table td{width:104px;height:115px;vertical-align:top}
.search .mastery .mastery_map table td div, .search .mastery .mastery_map table td .arrow{background:url("../images/spr_char_mastery.png") no-repeat}
.search .mastery .mastery_map table td span{display:block}
.search .mastery .mastery_map table td div{height:85px;padding-top:30px}
.search .mastery .mastery_map table .mm_get div{background-position:-104px 0}
.search .mastery .mastery_map table td .sicon{width:37px;height:37px;margin:0 auto}
.search .mastery .mastery_map table td .snum{font-size:14px;line-height:19px;color:#a0a1a5;margin-top:5px}
.search .mastery .mastery_map table .mm_get .snum{color:#fff}
.search .mastery .mastery_map table td .arrow{height:100%}
.search .mastery .mastery_map table td .arrow.down{background-position:0 -230px}
.search .mastery .mastery_map table td .arrow.up{background-position:-104px -230px}
.search .mastery .mastery_map table td .arrow.right{background-position:-208px -230px}
.search .mastery .mastery_map table td .arrow.down-right{background-position:-312px -230px}
.search .mastery .mastery_map table td .arrow.up-right{background-position:-416px -230px}
.search .mastery .mastery_map table .mm_get .arrow{height:100%}
.search .mastery .mastery_map table .mm_get .arrow.down{background-position:0 -115px}
.search .mastery .mastery_map table .mm_get .arrow.up{background-position:-104px -115px}
.search .mastery .mastery_map table .mm_get .arrow.right{background-position:-208px -115px}
.search .mastery .mastery_map table .mm_get .arrow.down-right{background-position:-312px -115px}
.search .mastery .mastery_map table .mm_get .arrow.up-right{background-position:-416px -115px}

/* Achievement */
.search .achiev, .search .ability{padding-bottom:60px}
.search .achiev .achiev1  .td_ranm .srank{vertical-align:middle}
.search .achiev .achiev1  .td_ranm .vary{margin-left:8px}
.search .achiev .achiev2 .stb47 td{text-align:right;color:#8e8f90}
.search .achiev .achiev2 .stb47 td span{color:#fff}
.search .achiev .stb67 td .s_st, .search .achiev .stb67 td .s_pt span{color:#e0e1e1}
.search .achiev .stb67 td .s_st{display:block;margin:0 150px 7px 0}
.search .achiev .stb67 td .s_pt{position:absolute;top:0;right:0;color:#8e8f90}
.search .achiev .stb67 td .s_pt span, .search .achiev .stb67 .td_rach .s_pt{padding-right:4px}
.search .achiev .stb67 td .graph{background:#2b2e37;height:21px;font-size:14px;line-height:21px}

/* Soul Ability */
.search .ability td .hgt{color:#e0e1e1}
.search .ability td .hgt.aname{padding-right:8px}
.search .ability .stb67.thw187 th{width:174px;border-right:3px solid #292D38}

/* Recent Activity */
.search .activity{padding-bottom:60px}
.search .activity .tb_cen .tb1{color:#fff}
.search .activity .tb_cen .tb2{color:#d7d8da}
.search .activity .tb1{width:227px}
.search .activity .tb2{width:319px}

/* Mission War */
.search .mission{padding-bottom:188px}
.search .mission h3{margin-bottom:24px}
.search .mission .chart{position:relative;width:800px;height:425px;margin-left:239px}
.search .mission .chart .item{position:absolute;display:block;text-align:center}
.search .mission .chart .iy{left:-239px;top:192px;max-width:182px}
.search .mission .chart .ix{left:0;bottom:-108px;width:800px}
.search .mission .chart .item span{display:inline-block;*display:inline;*zoom:1;vertical-align:top;min-width:128px;line-height:1.2;border:2px solid #828282;border-radius:35px;font-size:17px;padding:7px 10px 8px}
.search .mission .chart .lv_tier{position:absolute;width:100%;left:0;top:-21px}
.search .mission .chart .lv_tier dl,.search .mission .chart .lv_tier dt ,.search .mission .chart .lv_tier dd{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;line-height:24px}
.search .mission .chart .lv_tier dl{height:56px;background:#2f99d4;padding:0 36px}
.search .mission .chart .lv_tier dt, .search .mission .chart .lv_tier dd{line-height:54px}
.search .mission .chart .lv_tier dt{font-size:20px;color:#78bde3;margin-right:15px}
.search .mission .chart .lv_tier dd{font-size:17px;color:#fff}
.search .mission .chart_box{position:relative;left:-83px}
.search .mission .chart_box svg .overaxis{fill:#959595}
.search .mission .chart_box .axis .domain{fill:none}
.search .mission .chart_box .axis line{stroke:#434343}
.search .mission .chart_box .line{fill:none;stroke:#1882ee}
.search .mission .chart_box .circle circle{fill:#309ad6}
.search .mission .chart_box .circle circle.hover{stroke-width:3px;stroke:#b4b5b9}
.search .mission .chart_box .tick text{fill:#74767d}
.search .mission .chart_box .axis .tick text{font-size:13px}
.search .mission .chart_box .axis.y .tick rect{fill:#41444c}
.search .mission .chart_box .axis.x .tick rect, .search .mission .chart_box .axis .tick line{display:none}
.search .mission .chart .cinfo{visibility:hidden;position:absolute;height:70px;border-radius:70px;opacity:0;background:#4e525e}
.search .mission .chart .cinfo.show{visibility:visible;opacity:1;z-index:1}
.search .mission .chart .cinfo div{*width:0;min-width:100px;border-radius:70px;border-top:1px solid #72757e;padding:12px 26px 13px}
.search .mission .chart .cinfo table{display:inline-block;*display:inline;*zoom:1;vertical-align:top}
.search .mission .chart .cinfo th, .search .mission .chart .cinfo td{line-height:22px;white-space:nowrap}
.search .mission .chart .cinfo th{color:#8d8f92;font-size:14px;font-weight:normal;padding-right:12px}
.search .mission .chart .cinfo td{color:#fff;font-size:18px}
.search .mission .notsupport{display:none;width:883px;height:491px;line-height:491px}
.search .mission .none .notsupport{display:block}

/* Guild info */
.search .search_box .ginfo{padding-bottom:80px}
.search .search_box .ginfo .tb_cen{width:1041px;margin:0 -3px -7px 0}
.search .search_box .ginfo .tb_cen th, .search .search_box .ginfo .tb_cen td{border-right:3px solid #292D38}
.search .search_box .ginfo .tb_cen th{border-bottom:3px solid #292D38}
.search .search_box .ginfo .tb_cen td{border-bottom-width:7px}

/* Guild member */
.search .search_box .gmember{padding-bottom:58px}
.search .search_box .gmember h3{margin-bottom:0}
.search .search_box .gmember .member_count{line-height:1.1;text-align:right;color:#848586;font-size:15px;margin-bottom:11px}
.search .search_box .gmember .stb54.tb_cen{width:1040px;margin:0 -2px -2px 0}
.search .search_box .gmember th{border-right:2px solid #292D38;border-bottom:4px solid #292d38}
.search .search_box .gmember .tb_cen td{border-bottom-width:2px;border-right-width:2px}
.search .search_box .gmember .tb_cen .tb1{width:60px;padding-left:0;padding-right:0}
.search .search_box .gmember .tb_cen td.tb1{background:#4a4e58;color:#fff !important}
.search .search_box .gmember .tb_cen .tb2{width:194px}
.search .search_box .gmember .tb_cen .tb3{width:94px}
.search .search_box .gmember .tb_cen .tb4{width:184px}
.search .search_box .gmember .tb_cen .tb_class, .search .search_box .gmember .tb_cen .tb_nation{width:72px}
.search .search_box .gmember .tb_cen .tb7{width:125px}
.search .search_box .gmember .tb_cen th.tb8{width:154px}
.search .search_box .gmember .tb_cen .master td{color:#3587da}

/* Guild Activity log */
.search .search_box .glog{padding-bottom:59px}
.search .search_box .glog .tb_cen .tb1{width:207px}
.search .search_box .glog .tb_cen .tb2{width:299px}
.search .search_box .glog .tb_cen td.tb1{color:#fff}
.search .search_box .glog .tb_cen td.tb2{color:#e0e1e1}
.search .search_box .glog .tb_cen td.tb3{text-align:left;height:37px;padding:8px 15px 9px}
.search .search_box .glog .tb_cen td.tb3 img{vertical-align:middle;margin-right:7px}
.search .search_box .glog .tb_cen td.tb3 span{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;max-width:317px}


